<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Job</title>
</head>
<body>
    <% include header.ejs %>
    <div>
      <% if (job) { %>
      <h2><%= job.name %></h2>
      <% } else { %>
        <h2>Add New Job</h2>        
      <% } %>
    </div>
    <% if (result) { %>
    <div><%= result %></div>
    <% } %>
    <div>
      <p>
        <form action="/jobs" method="POST">
          <input type="hidden" name="inpJobId"  value="<% if (job) { %><%= job._id %><% } %>" />
          <p>
            <input type="text" name="inpName"  value="<% if (job) { %><%= job.name %><% } %>" />
          </p>
          <p>
            <textarea name="inpDescription" rows="12" cols=50"><% if (job) { %><%= job.description %><% } %></textarea>
          </p>
          <button type="submit">Submit</button>
        </form>
      </p>
    </div>    
</body>
</html>